.header {
    background-color: black  ;
    display: flex;
    width:100vw;
    color: white;
    justify-content: flex-end;
    height: 42px;
    
}
.header__text {
    padding: 10px;
    margin: 0;
}
