
// header
.header {
    background-color: black;
    display: flex;
    width:100%;
    color: white;
    justify-content: flex-end;
    height: 42px;
    
}

.header__text {
    margin-right: 10px;

}


.main {
    background-color: #141414;
    min-height: 100vh;
    color: white;
}



.links {
    display:flex;
    justify-content:space-between;
    width:900px;
}
.link {
   
    border-radius: 30px;
    padding: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #BEBEBE;
    text-decoration: none;
}